@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html, body {
  font-family: 'Roboto', sans-serif;
}


/* Hintergrundbild für die Startseite */
/* Full-width Hintergrundbild */
/* Hintergrundbild für das gesamte Layout */
.custom-background {
  background-image: url('/images/background.jpg'); /* Pfad anpassen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Animationen */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 1s ease-in-out forwards;
}
